/*MENU*/
nav.navbar{
	background:  -webkit-linear-gradient( black,#0093fa);
	border:  #0093fa;
}
.txt-white{
	color:white !important;
}
.black{
    background-color: black;
    padding: 0px 10px 40px 10px;
}
.contacto{
    padding: 0px 10px 10px 10px;
}
nav li a, nav a{
	color:white !important;
    font-weight: 500;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .nav>li:hover,.navbar-default .navbar-brand:hover{
    background-color: #0093fa;
    font-weight: 800;
}
.perfil{
    background-image: url("../img/yo.jpg");
    background-position: center;
    background-size: 320px 480px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 10% 2%;
}
.capa-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 49, 48, 0.63);
}
.download{
    font-weight: 500;
    color: #0093fa;
    font-size: 20px;
}
.download:hover{
    color:black;
}
/*PORTAFOLIO*/
.aumentaFondo{
    padding-bottom: 300px;
}
h2{
    padding-bottom: 5%;
}
/*Contacto*/
a{
    text-decoration: none;
}
.icono{
    font-size: 50px;
    color:#caf6f5;
}
span.icono:hover{
    font-size: 50px;
    color:#0093fa;
}
.ligasContacto{
    font-size: 10px;
}
/*Portafolio*/
.iconoPorta{
    font-size: 1.5em !important;
    color:black;
    margin-left: 1em;
    margin-right: 1em;
}
.imgPorta{
    width: 100%;
}

a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: black;
    border: 1px solid aqua;
    border-radius:10px;
    background-color: rgba(255,255,255,0.8);
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 15px 0;
    padding: 7px;
}

/*background*/
html body{
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 20px;
}
/*
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
}*/
.sect{
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
}
.subSection{
    height: 50%;
    background-color: black;
}
.sec1{
    background-image: url("../img/circuitos1.jpg");
}
.sec2{
    background-image: url("../img/circuitos2.jpg");
}
.sec3{
    background-image: url("../img/circuitos12.jpg");
}
@media (max-width: 760px) {
  .perfil{
    background-image: url("../img/yo.jpg");
    background-position: center;
    background-size: 200px 320px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top:100px;
    }
    .jumbotron{
        font-size:1.2em !important;
    }
    .cd-dropdown > span {
        width: 90%;
        font-size: 13px;
        padding: 0 25px 0 0px;
    }
    .cd-dropdown ul li span {
        width: 90%;
        font-size: 13px;
        line-height: 60px;
        cursor: none;
        padding: 0 20px 0 0px;
    }
    .mt-5{
        margin-top: 10%;
    }
    .pt-5{
        padding-top: 10%;
    }
    #seccion3 h3{
        font-size: 18px;
    }

}

@media (max-width: 908px) {
    a.info {
        width: 60px;
        height: 30px;
        margin: 10px 5px;
        padding: 5px;
    }
}
@media (max-width: 767px) {
    a.info {
        width: 75px;
        height: 35px;
        margin: 15px 5px;
        padding: 10px;
    }
}
@media (max-width: 366px) {
    a.info {
        width: 60px;
        height: 30px;
        margin: 8px 5px;
        padding: 5px;
    }
}
#cover1{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}
#cover1:hover{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}
.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(100,0,0,.7);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.capa:hover {
    opacity: 1;
}
.backSec1{
    background:white; /*#4cb5d5;*/
}
.backSec2{
    background-color: black;
    /*background:-webkit-linear-gradient( #0093fa,black);*/
}
.pd-skills{
    padding-left: 50px;
    padding-bottom: 10%;
}

p{
    font-size: 20px;
    margin: 10% 5%;
}
.jumbotron{
    background:#0093fa;
    color: white;
    font-size:1.5em;
}
#seccion3 span{
    margin: 20px;
}
#seccion3{
    background-color: black;
}
.hobbies img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#secPasatiempos{
    background: -webkit-linear-gradient( white,black);
    margin: 0px -15px;
    color:white;
}
#secPasatiempos h2{
    color:#0093fa;
}
#secPasatiempos p{
    margin-top: 10px;
    font-weight: 500;
}
